<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="section" class="list-group section">
    <a href="/profile/people" class="list-group-item" th:class="${section=='people'?'list-group-item active':'list-group-item'}">个人信息</a>
    <a href="/profile/questions" class="list-group-item" th:class="${section=='questions'?'list-group-item active':'list-group-item'}">我的问题</a>
    <a href="/profile/replies" class="list-group-item" th:class="${section=='replies'?'list-group-item active':'list-group-item'}">
        最新回复
        <span class="badge" th:text="${session.user.notificationCount}"></span>
    </a>
</div>
</body>
</html>