body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px 100px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px
}

.tips-inform {
    float: left;
    width: 400px;
    text-align: center;
}

.media-object {
    width: 40px;
    height: 40px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.community-menu {
    color: #999;
    font-size: 13px;
}

.my-error {
    text-align: center;
}

.media-body {
    padding-top: 5px;
}

.comment {
    margin: 12px 0;
}

.question-sp {
    margin-top: 0;
}

.my-media-heading {
    margin-bottom: 0;
}

.my-menu {
    font-size: 15px;
}

.my-menu .icon {
    margin-right: 6px;
    cursor: pointer;
}

.my-menu .icon:hover {
    color: #27859a;
}

.my-media-body {
    border-bottom: 1px solid rgb(245, 245, 245);
    padding-bottom: 5px;
}

.comment-desc {
    margin-bottom: 3px;
}
.whole{
    margin: 1px
}
.my-title{
    margin-top: 20px;
}