body {
    background-color: #efefef;
    background-image: url("/images/background/index-bg.png");
    /*background-image: url("https://hobo-community.oss-cn-beijing.aliyuncs.com/background_one.jpg");*/
    /*background-repeat:no-repeat;*/
    /*background-size:100% 100%;*/
    /*-moz-background-size:100% 100%;*/
}

.main {
    background-color: white;
    box-shadow: 6px 6px 10px gray;
    border-radius: 4px;
    margin: 30px 200px;
}

.btn-publish {
    float: right;
    margin-bottom: 6px
}

.tips-inform {
    float: left;
    width: 400px;
    text-align: center;
}

.media-object {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}

.community-menu {
    color: #999;
    font-size: 13px;
}

.my-error {
    text-align: center;
    height: 590px;
    margin: 0;
    padding: 80px;
}

.media-body {
    padding-top: 5px;
}

.comment {
    margin: 20px 0 10px 0;
}

.question-sp {
    margin-top: 0;
}

.my-media-heading {
    margin-bottom: 0;
}

.my-menu {
    font-size: 15px;
}

.my-menu .icon {
    margin-left: 15px;
    cursor: pointer;
}

.my-menu .icon:hover {
    color: #27859a;
}

.icon-message {
    margin-left: 15px;
}

.my-media-body {
    border-bottom: 1px solid rgb(245, 245, 245);
    padding-bottom: 5px;
}

.comment-desc {
    margin-bottom: 3px;
}

.whole {
    margin: 1px
}

.my-title {
    margin-top: 20px;
}

.add-comment-icon {
    color: #27859a;
}

.two-comment-avatar {
    width: 32px;
    height: 32px;
}

.two-comment-main {
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    padding: 10px;

}

.my-time {
    font-size: 12px;
}

.comment-img{
    margin-top: 20px;
}

.my-comment{
    padding: 0 40px 0 0;
}

.related-ul {
    list-style-type: none;
    padding-left: 10px;
    font-size: 16px;
}
.a-tag {
    text-decoration-line: none;
}

.replies-li{
    font-size: 15px;
    margin: 14px 0;
}
.footer{
    text-align: center;
    color: #3338;
    margin: 60px 0 30px 0;
}

.publish-tag-tab {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}

.tag-list {
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    text-decoration-line: none;
    background-color: #357bd1;
}
.tag-list:hover{
    background-color: #2095e8
}
.tag-list a{
    color: white;
    text-decoration-line: none;
}
.my-media-body .tag-list{
    font-size: 11px;
    margin: 0 4px 0 0;
}

.nav-icon{
    width: 20px;
}
.nav-right{
    cursor:pointer;
    padding-top: 17px;
}
.navbar-form .btn {
    height: 34px;
}
#index-body a{
    text-decoration: none;
}

#nav-header{
    margin: 0 0 0 49px;
}
.media-icon {
    margin-right: 10px;
}
.h4{
    margin: 2px 0;
}
.media-status{
    margin: 4px 4px 4px 0;
}
.icon-like{
    box-sizing: border-box;
    padding: 6px 8px;
    border-radius: 2px;
    background: #f5f6f7;
    margin-left: 5px;
}
.icon-like:hover{
    cursor: pointer;
    background: #f9ecec;
}
.question-like-flag {
    background: #f9ecec;
}
.question-icon {
    margin-left: 2px;
}
.comment-time-desc{
    margin-top: 2.5px;
}
.cursor-pointer{
    cursor:pointer;
}

.everyday-header{
    font-size: 13px;
    margin:0 4px;
}
.btn-top{
    font-size: 13px;
    padding: 6px;
    color: #999;
}