body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px 100px;
}

.btn-publish {
    float: right;
    margin-bottom: 6px
}

.tips-inform {
    float: left;
    width: 400px;
    text-align: center;
}

.media-object {
    width: 40px;
    height: 40px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.community-menu {
    color: #999;
    font-size: 13px;
}

.my-error {
    text-align: center;
}

.media-body {
    padding-top: 5px;
}

.comment {
    margin: 20px 0 10px 0;
}

.question-sp {
    margin-top: 0;
}

.my-media-heading {
    margin-bottom: 0;
}

.my-menu {
    font-size: 15px;
}

.my-menu .icon {
    margin-left: 15px;
    cursor: pointer;
}

.my-menu .icon:hover {
    color: #27859a;
}

.icon-message {
    margin-left: 15px;
}

.my-media-body {
    border-bottom: 1px solid rgb(245, 245, 245);
    padding-bottom: 5px;
}

.comment-desc {
    margin-bottom: 3px;
}

.whole {
    margin: 1px
}

.my-title {
    margin-top: 20px;
}

.add-comment-icon {
    color: #27859a;
}

.two-comment-avatar {
    width: 32px;
    height: 32px;
}

.two-comment-main {
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    padding: 10px;

}

.my-time {
    font-size: 12px;
}

.comment-img{
    margin-top: 20px;
}

.my-comment{
    padding: 0 40px 0 0;
}
.my-label {
    margin-left: 15px;
}
.related-ul {
    list-style-type: none;
    padding-left: 10px;
    font-size: 16px;
}
.a-tag {
    text-decoration-line: none;
}

.replies-li{
    font-size: 15px;
    margin: 14px 0;
}
.footer{
    text-align: center;
    color: #3338;
    margin: 60px 0 30px 0;
}

.publish-tag-tab {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}

.publish-tag-tab .label-info {
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
}