body{
    /*background-color: #1cbb9b;*/
    /*background-image: url("/images/background/index-bg.png");*/
    background-image: url("/images/background/bj2.jpg");
}

.login-header{
    position:relative;
    margin: 20px auto;
    width: 500px;
    text-align: center;
}
.login-header a{
    font-size: 40px;
    font-style: italic;
    text-decoration: none;
    color: #c9cfd8;
}
.login-box{
    position:relative;
    margin: 30px auto;
    width: 500px;
    height: 430px;
    /*background-color: #fff;*/
    /*background: rgba(255, 255, 255, 0.9);*/
    background: rgba(244, 244, 244, 0.9);
    padding: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}
.modify-pwd-box{
    position:relative;
    margin: 30px auto;
    width: 500px;
    height: 330px;
    /*background-color: #fff;*/
    /*background: rgba(255, 255, 255, 0.9);*/
    background: rgba(244, 244, 244, 0.9);
    padding: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}
.lb-header{
    position:relative;
    color: #00415d;
    margin: 5px 5px 10px 5px;
    padding-bottom:10px;
    border-bottom: 1px solid #eee;
    text-align:center;
    height:28px;
}
.lb-header a{
    margin: 0 25px;
    padding: 0 20px;
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 17px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.lb-header .active{
    color: #029f5b;
    font-size: 20px;
}
.social-login{
    position:relative;
    float: left;
    width: 100%;
    height:auto;
    padding: 10px 0 15px 0;
    border-bottom: 1px solid #eee;
}
.social-login a{
    position:relative;
    float: left;
    width:calc(40% - 8px);
    text-decoration: none;
    color: #fff;
    border: 1px solid rgba(0,0,0,0.05);
    padding: 12px;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 3%;
    text-align:center;
}
.social-login a i{
    position: relative;
    float: left;
    width: 20px;
    top: 2px;
}
.social-login a:first-child{
    background-color: #49639F;
}
.social-login a:last-child{
    background-color: #DF4A32;
}
.email-login,.email-signup,.email-verify-code,.email-modify-pwd{
    position:relative;
    float: left;
    width: 100%;
    height:auto;
    margin-top: 20px;
    text-align:center;
}
.u-form-group{
    width:100%;
    margin-bottom: 10px;
}
.u-form-group input[type="email"],
.u-form-group input[type="text"],
.u-form-group input[type="password"]{
    width: calc(50% - 22px);
    height:45px;
    outline: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 2px;
    color: #333;
    font-size:0.8rem;
    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
    transition:all 0.1s linear;
}
.u-form-group input:focus{
    border-color: #358efb;
}
.u-form-group input[type="button"],
.u-form-group button{
    width:50%;
    background-color: #1CB94E;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 14px 0;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
}
.u-form-group input[type="button"]:hover,
.u-form-group button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.forgot-password{
    width:50%;
    text-align: left;
    text-decoration: underline;
    color: #888;
    font-size: 0.75rem;
}