<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="baidu-site-verification" content="pO9wAavo3i" />

    <title>Hobo社区</title>

    <!--引入bootstrap-->
    <head th:replace="fragment/common_import::commom_improt"></head>

    <script src="/js/community.js"></script>

</head>
<body id="index-body">

<!--<script type="application/javascript">-->
<!--    window.onload = function () {-->

<!--        let closable = window.localStorage.getItem("closable");-->
<!--        let questionId = window.localStorage.getItem("questionId");-->
<!--        if (closable == "true"){-->
<!--            window.open("/question/"+questionId,"_self");-->
<!--            window.localStorage.removeItem("closable")-->
<!--        }-->
<!--    }-->
<!--</script>-->

<div th:replace="fragment/navigation::navbar"></div>
<div class="container-fluid main">
    <div class="row whole">
        <!--左边主要内容-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    <span th:text="${tag!=null&&tag!=''}?${tag}:'发现'"></span>
            </h2>

            <ul class="nav nav-tabs">
                <li role="presentation" th:class="${sort == 'new' || sort == '' ? 'active':''}">
                    <a th:href="@{/(sort='new',search=${search},tag=${tag})}">
                        <img src="/images/svg/news.svg">
                        最新
                    </a>
                </li>
                <li role="presentation" th:class="${sort == 'hot30' ? 'active':''}">
                    <a th:href="@{/(sort='hot30',search=${search},tag=${tag})}">
                        <img src="/images/svg/thirty.svg">
                        天最热
                    </a>
                </li>
                <li role="presentation" th:class="${sort == 'hot7' ? 'active':''}">
                    <a th:href="@{/(sort='hot7',search=${search},tag=${tag})}">
                        <img src="/images/svg/seven.svg">
                        天最热
                    </a>
                </li>
                <li role="presentation" th:class="${sort == 'hot' ? 'active':''}">
                    <a th:href="@{/(sort='hot',search=${search},tag=${tag})}">
                        <img src="/images/svg/hot-2.svg">
                        最热
                    </a>
                </li>
                <li role="presentation" th:class="${sort == 'no' ? 'active':''}">
                    <a th:href="@{/(sort='no',search=${search},tag=${tag})}" class="red">
                        <img src="/images/svg/fireExtinguisher.svg">
                        消灭零回复
                    </a>
                </li>
            </ul>

            <div class="media" th:each="questionDTO:${pagination.objectList}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded " th:src="${questionDTO.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body my-media-body">
                    <h4 class="h4">
                        <a class="media-heading my-media-heading" th:href="@{/question/__${questionDTO.id}__}" th:text="${questionDTO.title}">
                        </a>
                    </h4>

                    <!--/*@thymesVar id="tag" type="com.ccsu.community.dto.QuestionDTO"*/-->
                    <div class="media-status">
                        <span th:each="tagOne:${questionDTO.tag.split(',')}" th:class="${tagOne=='置顶'?'label label-danger tag-list':'label label-info tag-list'}">
                            <a  th:href="@{/(page=1,search=${search},tag=${tagOne})}">
                                <span class="tag-js">[[${tagOne}]]</span>
                            </a>
                        </span>
                        <!--
                        <script type="text/javascript">
                            function f() {
                                let $myss = $(".media-status")
                                $myss.each(function () {
                                    let firstTag = $(this).children(".tag-list").children().children("span:eq(0)")

                                    if(firstTag.text()=="置顶"){
                                        $(this).children(".tag-list:eq(0)").css("background","red");
                                    }
                                })
                            }
                        </script>
                        -->
                        <span class="text-desc pull-right">


                            <span class="media-icon">
                                <img src="/images/svg/like.svg" title="点赞数">
                                <span th:text="${questionDTO.likeCount}"></span>
                            </span>
                            <span class="media-icon">
                                <img src="/images/svg/comment.svg" title="评论数">
                                <span th:text="${questionDTO.commentCount}"></span>
                            </span>
                            <span class="media-icon">
                                <img src="/images/svg/view.svg" title="浏览量">
                                <!--                        <span th:text="${questionDTO.viewCount}+'次浏览 • '"></span>-->
                                <span th:text="${questionDTO.viewCount}"></span>
                            </span>

                            <span th:text="${#dates.format(questionDTO.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                        </span>

                    </div>
                </div>
            </div>
<!--            页码-->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a href="/?page=1" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{/(page=${pagination.page}-1,search=${search},tag=${tag},sort=${sort})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page : ${pagination.pages}" th:class="${pagination.page==page}?'active':''">
                        <a th:href="@{/(page=${page},search=${search},tag=${tag},sort=${sort})}" th:text="${page}"></a>
                    </li>

                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/(page=${pagination.page}+1,search=${search},tag=${tag},sort=${sort})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{/(page=${pagination.totalPage},search=${search},tag=${tag},sort=${sort})}" aria-label="Next">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>

                </ul>
            </nav>

        </div>
        <!--右边信息块-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h4>
                <img src="/images/svg/books.svg">
                每日一文
            </h4>
            <div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title" style="text-align: center;margin: 3px 0 4px 0;">
                            <span class="label label-success everyday-header">
                                <span class="glyphicon glyphicon-bookmark"></span>
                                <span id="everyday-title"></span>
                            </span>
                            <span class="label label-warning everyday-header">
                                <span class="glyphicon glyphicon-user"></span>
                                <span id="everyday-author"></span>
                            </span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p id="everyday-summary"></p>
                        <a class="pull-right" type="button" data-toggle="modal" data-target="#每日一文" style="cursor:pointer;">
                            阅读全文
                        </a>

                    </div>
                </div>
            </div>

            <hr>
            <h4>
<!--                <img src="/images/svg/hot.svg">-->
                <img src="/images/svg/hot-5.svg">
                热门标签
            </h4>
            <span class="label label-info tag-list" th:each="hotTag:${hotTags}">
                <a  th:href="@{/(page=1,search=${search},tag=${hotTag})}">
                    <span class="glyphicon glyphicon-tags "></span>
                    <span>[[${hotTag}]]</span>
                </a>
            </span>
            <hr>
            <h4>
                <img src="/images/svg/hobo.svg">
                站主信息
            </h4>
            <a href="http://www.hobosocool.top/">博客</a>


        </div>
    </div>
</div>

<div class="modal fade" id="每日一文" tabindex="-1" role="dialog" aria-labelledby="modal-everyday-title" >
    <div class="modal-dialog modal-lg" role="document" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <br>
                <h3 class="modal-title" style="text-align: center" id="modal-everyday-title"></h3>
                <div class="pull-right">
                    <span>作者:</span>
                    <span id="modal-everyday-author"></span>
                    <span>   /   </span>
                    <span id="modal-everyday-wc"></span>
                </div>
            </div>
            <div class="modal-body">
                <span id="modal-everyday-content"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragment/footer::footer"></div>
</body>
</html>