<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/loginAndRegister.css">
    <script src="/js/login.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
</head>

<body id="login-body">
    <form class="box" action="/login" method="post">
        <h1>Login</h1>
        <input type="text" id="loginName" name="loginName" placeholder="用户名">
        <input type="password" id="password" name="password" placeholder="密码">
<!--        <input type="submit" value="登录">-->
        <input type="button" value="登录" onclick="login()">
        <span id="message"></span>
        <div class="tips" >
            <a href="/register">注册</a>
            <a href="/">游客模式&nbsp&nbsp</a>

            <a href="https://github.com/login/oauth/authorize?client_id=Iv1.e1445cb4e1c12491&redirect_uri=http://39.97.226.211/callback&scope=user&state=1">
<!--            <a href="https://github.com/login/oauth/authorize?client_id=Iv1.edad84846ed5ad39&redirect_uri=http://localhost:8887/callback&scope=user&state=1">-->
                <img src="/images/github.svg" class="login-icon">
                GitHub
            </a>
        </div>
    </form>



</body>

</html>