<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${sectionName}"></title>

    <head th:replace="fragment/common_import::commom_improt"></head>

</head>
<body>
<div th:replace="fragment/navigation::navbar"></div>
<div class="container-fluid main profile">
    <div class="row whole">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2 th:text="${sectionName}"></h2>
            <hr>
            <!--展示我的问题-->
            <div th:if="${section=='questions'}">
                <div th:replace="fragment/question_list::questions"></div>
            </div>
            <!--展示我的回复-->
            <div th:if="${section=='replies'}">
                <div th:replace="fragment/reply_list::replies"></div>
            </div>

            <!--页码-->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a href="@{/profile/__${section}__/(page=1)}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{/profile/__${section}__/(page=__${pagination.page}__-1)}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page : ${pagination.pages}" th:class="${pagination.page==page}?'active':''">
                        <a th:href="@{/profile/__${section}__/(page=__${page}__)}" th:text="${page}"></a>
                    </li>

                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/profile/__${section}__/(page=__${pagination.page}__+1)}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{/profile/__${section}__/(page=__${pagination.totalPage}__)}" aria-label="Next">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <hr>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div th:replace="fragment/section::section"></div>
        </div>
    </div>
</div>
<div th:replace="fragment/footer::footer"></div>
</body>
</html>