 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${questionDTO.title}"></title>
    <!--引入bootstrap-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/question.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>

    <link rel="stylesheet" href="/editor.md-master/css/editormd.preview.css">
    <script src="/editor.md-master/lib/marked.min.js"></script>
    <script src="/editor.md-master/lib/prettify.min.js"></script>
    <script src="/editor.md-master/editormd.min.js"></script>


</head>
<body>
<div th:replace="commons/navigation::navbar"></div>
<div class="container-fluid main profile">
    <div class="row whole">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--正文-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="my-title">
                    <img src="/images/svg/book-title.svg">&nbsp;&nbsp;
                    <span th:text="${questionDTO.title}"></span>
                </h3>
                <span class="text-desc">
                作者：<span th:text="${questionDTO.user.loginName}"></span>
                | 阅读数：<span th:text="${questionDTO.viewCount}"></span>
                | 发布于<span th:text="${#dates.format(questionDTO.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                    <span th:if="${questionDTO.gmtModified!=questionDTO.gmtCreate}">已编辑</span>
                </span>
                <hr>
                <!--内容-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                      id="question-view">
                    <textarea style="display: none" th:text="${questionDTO.description}"></textarea>
                    <script type="text/javascript">
                        $(function () {
                            editormd.markdownToHTML("question-view",{})
                        })
                    </script>
                </div>

                <hr>

                <span class="text-desc icon-like"  onclick="questionLike()">
                    <img src="/images/svg/like.svg">
                    点赞
                    <span th:text="${questionDTO.likeCount}" }></span>
                </span>
                <hr>
                <!--标签-->
                <div>
                <span class="label label-info tag-list"  th:each="tag:${questionDTO.tag.split(',')}">
                    <a style="text-decoration-line: none" th:href="@{/(page=1,tag=${tag})}">
                        <span class="glyphicon glyphicon-tags "></span>
                        <span>[[${tag}]]</span>
                    </a>
                </span>
                </div>

                <hr>
                <div th:if="${session.user!=null&&session.user.id==questionDTO.user.id}">
                    <a class="community-menu" th:href="@{/publish/__${questionDTO.id}__}" >
                        <span class="glyphicon glyphicon-pencil " aria-hidden="true">编辑</span>
                    </a>
                    <hr>
                </div>
            </div>

            <!--回复功能-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="media">
                    <div class="media-left">
                        <a href="#" th:if="${session.user!=null}">
                            <img class="media-object img-rounded" th:src="${session.user.avatarUrl}" th:if="${session.user.avatarUrl!=null}">
                            <img class="media-object img-rounded" src="/images/default.jfif" th:if="${session.user.avatarUrl==null}">
                        </a>
                        <a href="#" th:if="${session.user==null}">
                            <img class="media-object img-rounded" src="/images/default.jfif">
                        </a>
                    </div>
                    <div class="media-body">
                        <span th:if="${session.user!=null}" th:text="${session.user.loginName}"></span>
                        <span th:if="${session.user==null}">游客</span>
                    </div>
                </div>
                <input type="hidden" id="question_id" th:value="${questionDTO.id}">
                <textarea class="form-control comment" id="comment_content" placeholder="评论一下~" rows="4"></textarea>
                <button type="submit" class="btn btn-success btn-publish" onclick="post()">评论</button>
            </div>

            <h4>
                <img src="/images/svg/message.svg">
                <span th:text="${questionDTO.commentCount}+'个回复'"></span>
            </h4>
            <hr class="question-sp">
            <!--评论列表-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${questionDTO.commentCount!=0}">
                <!--头像 名称-->
                <div class="media" th:each="comment : ${comments}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded"
                                 th:src="${comment.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body my-media-body">
                        <span th:text="${comment.user.loginName}"></span>
                        <div class="comment-desc"><span th:text="${comment.content}"></span></div>
                        <!--依次是点赞、评论、时间-->
                        <div class="text-desc my-menu">
                            <span class="glyphicon glyphicon-thumbs-up icon" th:data-id="${comment.id}" onclick="likeCount(this)"></span>
                            <span th:text="${comment.likeCount}"></span>
                            <span class="glyphicon glyphicon-comment icon icon-message" th:data-id="${comment.id}" th:id="${comment.id}" onclick="collapseComments(this)"></span>
                            <span th:text="${comment.commentCount}"></span>
                            <span class="pull-left my-time" th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                        </div>
                        <!--二级评论展示-->
                        <div class="collapse two-comment-main" th:id="${'comment-'+comment.id}">
                            <!--二级评论发表-->
                            <!--此处的评论有js生成-->
                            <div >
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#" th:if="${session.user!=null}">
                                            <img class="media-object img-rounded" th:src="${session.user.avatarUrl}" th:if="${session.user.avatarUrl!=null}">
                                            <img class="media-object img-rounded" src="/images/default.jfif" th:if="${session.user.avatarUrl==null}">
                                        </a>
                                        <a href="#">
                                            <img class="media-object img-circle comment-img" th:if="${session.user==null}"
                                                 src="/images/default.jfif">
                                        </a>
<!--                                        <span th:if="${session.user!=null}" th:text="${session.user.loginName}"></span>-->
<!--                                        <span th:if="${session.user==null}">游客</span>-->
                                    </div>
                                    <div class="media-body">
                                        <div class="col-lg-12 col-md-12 col-sm-12 my-comment">
<!--                                            <textarea class="form-control " th:id="${'reply-'+comment.id}" rows="2" placeholder="评论一下吧~~~"></textarea>-->
                                            <input type="text" class="form-control comment" th:id="${'reply-'+comment.id}" placeholder="评论一下吧~~~">
                                            <button type="submit" class="btn btn-success btn-publish" th:data-id="${comment.id}" onclick="two_comment(this)" >评论</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br><br><hr>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h4>
                <img src="/images/svg/people.svg">
                发起人
            </h4>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded"
                             th:src="${questionDTO.user.avatarUrl!=null?questionDTO.user.avatarUrl:'/images/default.jfif'}"/>
                    </a>
                </div>
                <div class="media-body">
                    <span th:text="${questionDTO.user.loginName}"></span>
                </div>
            </div>
            <hr>
            <h4>
                <img src="/images/svg/bookmark.svg">
                推荐内容
            </h4>
            <div>
                <!--<img src="/images/coder.jpg" class="img-thumbnail">-->
                <img style="width: 250px" src="/images/mysql.gif">
            </div>
            <hr>
            <h4>
                <img src="/images/svg/help.svg">
                相关问题
            </h4>
            <ul class="related-ul">
                <li th:each="relatedQuestion : ${relatedQuestions}">
                    <a class="a-tag" th:href="@{/question/__${relatedQuestion.id}__}">[[${relatedQuestion.title}]]</a>
                </li>
            </ul>

        </div>
    </div>
</div>
<div th:replace="commons/footer::footer"></div>
</body>
</html>