 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${questionDTO.title}"></title>
    <!--引入bootstrap-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js"></script>

</head>
<body>
<div th:replace="commons/navigation::navbar"></div>
<div class="container-fluid main profile">
    <div class="row whole">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--正文-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="my-title"><span th:text="${questionDTO.title}"></span></h3>
                <span class="text-desc">
                作者：<span th:text="${questionDTO.user.loginName}"></span>
                | 阅读数：<span th:text="${questionDTO.viewCount}"></span>
                | 发布于<span th:text="${#dates.format(questionDTO.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
            </span>
                <hr>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${questionDTO.description}">
                </div>
                <br><hr>
                <div class="my-label">
                    <span th:each="tag:${questionDTO.tag.split(',')}">
                        <span class="label label-info glyphicon glyphicon-tags"> [[${tag}]]</span>
                    </span>
                </div>
                <hr>
                <div th:if="${session.user!=null&&session.user.id==questionDTO.user.id}">
                    <a class="community-menu" th:href="@{/publish/__${questionDTO.id}__}" >
                        <span class="glyphicon glyphicon-pencil " aria-hidden="true">编辑</span>
                    </a>
                    <hr>
                </div>
            </div>

            <!--回复功能-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:if="${session.user!=null}"
                                 th:src="${session.user.avatarUrl}">
                        </a>
                        <a href="#">
                            <img class="media-object img-rounded" th:if="${session.user==null}"
                                 src="/images/default.jfif">
                        </a>
                    </div>
                    <div class="media-body">
                        <span th:if="${session.user!=null}" th:text="${session.user.loginName}"></span>
                        <span th:if="${session.user==null}">游客</span>
                    </div>
                </div>
                <input type="hidden" id="question_id" th:value="${questionDTO.id}">
                <textarea class="form-control comment" id="comment_content" placeholder="评论一下~" rows="4"></textarea>
                <button type="submit" class="btn btn-success btn-publish" onclick="post()">评论</button>
            </div>

            <h3 th:text="${questionDTO.commentCount}+'个回复'"></h3>
            <hr class="question-sp">
            <!--评论列表-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${questionDTO.commentCount!=0}">
                <!--头像 名称-->
                <div class="media" th:each="comment : ${comments}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded"
                                 th:src="${comment.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body my-media-body">
                        <span th:text="${comment.user.loginName}"></span>
                        <div class="comment-desc"><span th:text="${comment.content}"></span></div>
                        <!--依次是点赞、评论、时间-->
                        <div class="text-desc my-menu">
                            <span class="glyphicon glyphicon-thumbs-up icon"></span>
                            <span class="glyphicon glyphicon-comment icon icon-message" th:data-id="${comment.id}" th:id="${comment.id}" onclick="collapseComments(this)"></span>
                            <span th:text="${comment.commentCount}"></span>
                            <span class="pull-left my-time" th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                        </div>
                        <!--二级评论展示-->
                        <div class="collapse two-comment-main" th:id="${'comment-'+comment.id}">
                            <!--二级评论发表-->
                            <!--此处的评论有js生成-->
                            <div >
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object img-circle comment-img" th:if="${session.user!=null}"
                                                 th:src="${session.user.avatarUrl}">
                                        </a>
                                        <a href="#">
                                            <img class="media-object img-circle comment-img" th:if="${session.user==null}"
                                                 src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=1511126680,2261184413&fm=26&gp=0.jpg">
                                        </a>
<!--                                        <span th:if="${session.user!=null}" th:text="${session.user.loginName}"></span>-->
<!--                                        <span th:if="${session.user==null}">游客</span>-->
                                    </div>
                                    <div class="media-body">
                                        <div class="col-lg-12 col-md-12 col-sm-12 my-comment">
<!--                                            <textarea class="form-control " th:id="${'reply-'+comment.id}" rows="2" placeholder="评论一下吧~~~"></textarea>-->
                                            <input type="text" class="form-control comment" th:id="${'reply-'+comment.id}" placeholder="评论一下吧~~~">
                                            <button type="submit" class="btn btn-success btn-publish" th:data-id="${comment.id}" onclick="two_comment(this)" >评论</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br><br><hr>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>发起人</h3>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded"
                                 th:src="${questionDTO.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <span th:text="${questionDTO.user.loginName}"></span>
                    </div>

                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>相关问题</h3>
                <ul class="related-ul">
                    <li th:each="relatedQuestion : ${relatedQuestions}">
                        <a class="a-tag" th:href="@{/question/__${relatedQuestion.id}__}">[[${relatedQuestion.title}]]</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>